<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Наш Бот</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Главная</a>
        <a href="{{ url_for('facts') }}">Факты</a>
        <a href="{{ url_for('hello') }}">Приветствия</a>
        <a href="{{ url_for('all_users') }}">Все пользователи</a>
        <a href="{{ url_for('message_statistics') }}">Статистика</a>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
